*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gridContainer{
    display: flex;
    box-sizing: content-box;
    flex-direction: row;
    width: 600px;
    height: 600px;
    text-align: center;
    border: 2px solid blue;
}


.row{
    aspect-ratio: 1/1;
    flex: 1 0 0;
    border: 1px solid red;
}

.column{
    aspect-ratio: 1/1;
    flex: 1 0 0;
}

.updatedRow{
    aspect-ratio: 1/1;
    flex: 1 0 0;
    border: 1px solid red;
}

.updatedColumn{
    aspect-ratio: 1/1;
    flex: 1 0 0;
}
/* #gridContainer div{
    aspect-ratio: 1/1;
    box-sizing: border-box;
    flex: 1 0 0;
    border: 0.1px solid red;
} */

